{% extends "base.html.twig" %}

{% block title %}Import
{% endblock %}

{% block body %}
	<h1 class="text-xl">Liste des imports</h1>
	<p class="text-xs">Vous pouvez consulter la liste de tous les imports ici.</p>

	<a href="{{path('app_import')}}"></a>
{% endblock %}
