@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    border: gray 1px solid;
    width: 100%;
    border-collapse: collapse;
}

thead tr th {
    text-align: left;
}

th,
td {
    padding: 20px;
}

input {
    border: 2px solid black;
}
