{% extends 'base.html.twig' %} {% block title %}Exporter{% endblock %} {% block
body %}
    <p>L'intégralité des données des courses seront exportés au format CSV.</p>
<a class="btn" href="new/">Exporter</a>
{% endblock %}
