{% extends 'base.html.twig' %} {% block title %}Exporter{% endblock %} {% block
body %}
<h1 class="text-xl">Créer un export</h1>
<p>L'export contiendra la liste des résultats.</p>
<a class="btn" href="new/">Exporter</a>
{% endblock %}
