{% extends 'base.html.twig' %} {% block title %}Accueil{% endblock %} {% block
    body %}
    <h1 class="text-3xl font-bold">Accueil</h1>
    <div class="card shadow-xl">
        <div class="card-body">
            <h2 class="text-xl font-bold">Prochaines courses prévues</h2>
            <ul>
                {% for race in races %}
                    <li>{{ race.start|format_datetime(locale='fr') }}</li>
                {% else %}
                    <li>Aucune course prévue.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="card shadow-xl">
        <div class="card-body">
            <h2 class="text-xl font-bold">Actions rapides</h2>
            <div class="btn-group">
                <a href="/admin/import" class="btn">Ajouter des étudiants en masse</a>
                <a href="/admin/race/new" class="btn">Ajouter une course</a>
            </div>
        </div>
    </div>

{% endblock %}
